<div class="custom-container my-10 bg-gray-200 rounded-lg p-10" *ngIf="!sent">
    <div class="font-bold text-2xl">Contact Me</div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <label for="name" class="form-label inline-block mb-2 text-gray-700">
            Name
        </label>
        <input
            type="text" formControlName="name"
            class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="name"
            placeholder="Name"
        />

        <label for="name" class="form-label inline-block mb-2 text-gray-700">
            Email
        </label>
        <input
            type="email" formControlName="email"
            class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="email"
            placeholder="Email"
        />

        <label for="message" class="form-label inline-block mb-2 text-gray-700">
            Message
        </label>
        <textarea formControlName="message"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid
                   border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="message"
            rows="3"
            placeholder="Your message"></textarea>

        <button type="submit" class="mt-2 w-full inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-normal uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
            Submit
        </button>

    </form>
    <div  class="text-red-500 text-xl" *ngIf="serverMessage != ''">{{ serverMessage }}</div>
</div>

<div class="custom-container my-10 bg-gray-200 rounded-lg p-10" *ngIf="sent">
    <div class="font-bold text-2xl">Message Sent!</div>
</div>

<div class="custom-container p-10 bg-gray-200 rounded-lg mb-10">
    <div class="font-bold text-3xl">How we use your data</div>
    <div>Your data is used to identify who sent us messages and allows us to reply to your inquiry. Your data is not stored.</div>
</div>