<!-- <div class="h-10 bg-gray-400 flex">
    <div class="font-black m-auto">Website Still Under Construction</div>
</div> -->

<header>
    <div class="bg-pblack-700 z-30 shadow-md w-full py-5">
        <div class="flex justify-between custom-container">
            <div class="items-center flex">
                <a routerLink="/" class="justify-center">
                    <img class="block h-10 w-auto" src="../../../../../assets/PCLogo.png" alt="Logo">
                </a>
            </div>
            <div class="space-x-4 flex my-auto text-white">
                <!-- <a class="nav" routerLink="/experience">Experience</a> -->
                <!-- <a class="nav" routerLink="/menu">Menu</a> -->
                <!-- <a class="nav" routerLink="/admin">Admin</a> -->
            </div>
        </div>
    </div>
</header>
