.custom-icon {
    opacity: 0;
    transition: opacity 400ms ease;
}

.custom-icon-out {
    opacity: 100;
    transition: opacity 400ms ease;
}

.custom-text-card {
    transform: scale(1.3);
    opacity: 100;
    
    transition: transform 400ms ease, opacity 400ms ease;
}

.custom-text-card-inactive {
    transform: scale(1);
    opacity: 0;

    transition: transform 400ms ease, opacity 400ms ease;
}

.custom-text-card-svg {
    transform: scale(1.3);
    opacity: 0;
    
    transition: transform 400ms ease, opacity 400ms ease;
}

.custom-text-card-inactive-svg {
    transform: scale(1);
    opacity: 100;

    transition: transform 400ms ease, opacity 400ms ease;
}